* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --text-span: gray;
  --bg-color:  #1C1A1A;
  --text-color-two: #F45C2C;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* overflow: hidden; */
}

header {
  position: sticky;
  top:0;
  z-index: 1;
  padding-top: 1rem;
  background-color: var(--bg-color);
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.logo img {
  width: 270px;
}

.vol {
  margin: 1rem 0;
  text-align: center !important;
}

b {
  color: var(--text-color);
 
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 450px;
  padding-top: 10rem;
  padding-bottom: 1; */
  overflow-y: scroll;
  z-index: 0;
}

input, select {
  border-radius: 2rem !important;
  background-color: white;
  width: 300px !important;
  margin: .4rem 0;
  font-weight: bold;
  color: var(--text-color-two) !important;
}


input:focus {
  color:var(--text-color-two);
}

input::placeholder {
  color: #f45b2c68 !important;
}


select.inf option {
  color: var(--text-color-two);
  border: 1px solid #ccc !important;
  border-radius: 2rem !important;
  padding: 8px 12px !important;
  font-weight: bold;
  font-size: 15px;
}

select.inf option:hover {
  background-color: var(--text-color-two) !important;
  color: var(--text-color) !important;
}

.rle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}


.rle p {
  vertical-align: middle;
  padding-top: 1rem;
  color: var(--text-span);
}

input[type="checkbox"] {
  width: auto !important;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  accent-color: var(--text-color-two);
}

.sub {
  background-color: var(--text-color-two);

  border-radius: 2rem;
  margin-bottom: 20px;
  width: 120px;
  height: 40px;
  transition: .3s;
  opacity: 0;
}

.sub:hover {
  background-color: var(--text-color);
  border: 1px solid var(--text-color-two);
  color: #F45C2C;
}

.ln {
  color: var(--text-color);
}

button:hover .ln {
  color: #F45C2C;
}

.overlay {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1a1add;
  backdrop-filter: blur(10px);
  z-index: 2;
  /* opacity: 0; */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

.txt {
  color:var(--text-color);
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.mark {
  font-size: 100px;
}

.loader-overlay {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1a1a45;
  backdrop-filter: blur(10px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(100px);

}

.lds {
  color: white;
  font-weight: bold;
}


